body {
    font-family: 'poppins';
    margin: 0;
}
/* Welcome Area CSS */
.orange-color {
    color:orange;
}
section {
    display: flex;
}
.welcome-section {
   background-image: url(image/top-banner.png);
   background-repeat: no-repeat; 
}
.content-area {
    padding-left: 50px; 
}
.content-area h1 {
   font-size: 50px; 
   font-weight: 400;
}
.content-area p{
    width: 80%;
    text-align: justify;
}
.content-area a {
text-decoration: none;
color: white;
font-weight: 800;
background-color: orange;
background-image: linear-gradient(orange, tomato);
padding: 10px 30px;
border-radius: 5px;
}
.image-area img {
  width: 80%;  
}
.half-width {
 width: 50%;  
}
/* Dream Area CSS */
.dream-section a { 
  text-transform: uppercase; 
  
}
.dream-section h3 {
    color: #F57D1F;
}


.experiance-list {
    margin: 50px ;
   padding: 20px; 
   border-left: 5px solid #F57D1F;
   box-shadow: 1px 2px 20px; 
}